.logo-collapsed {
    border: 0px transparent;
    padding: 0;
    border-radius: 10px;
    width: 40.21px;
    height: auto;
}

.logo {
    width: 60px;
}

.img-fluid {
    border-radius: 10px;
}

.portfolio-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 3rem;
    padding: 1rem;
    justify-content: start;
}
  
.single-portfolio {
    max-width: 330px;
    border-radius: 10px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    text-align: center;
    margin: 0px;
}

.about-me {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.section-heading {
    margin-bottom: 0px;
}

.portfolio {
    padding-bottom: 20px;
}

.intro-subtitle {
    font-size: 1.5rem;
    font-weight: bold;
    color: #dad0d0;
}
  
.typed-cursor {
    color: #ff5733; /* Customize cursor color */
    animation: blink 0.7s infinite;
}
  
@keyframes blink {
    50% {
      opacity: 0;
    }
}

.mb-5, .my-5 {
    margin-bottom: 1.5rem !important;
}

input:focus {
    color: rgb(191, 191, 191) !important;
}

.form-control {
    position: relative;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 15px;
    transition: all 0.3s ease;
}

.form-control:focus {
    border-color: #99d6ff;
    box-shadow: 0 0 10px rgba(0, 123, 255, 0.5) !important;
    outline: none;
}

.form-control:focus::placeholder {
    transform: translateY(-100%);
    font-size: 0.7rem;
    color: #00d9ffd2;
    transition: all 0.3s ease;
}

input[type="submit"], .btn-primary {
    background-color: #e9ff6a42 ;
    color: white !important;
}

.site-contact-details li > span {
    color: #065eb5
}